@charset "UTF-8";
/* * BASE LAYOUT
 * */
* {
  box-sizing: border-box;
  transition: background 0.2s ease-in-out;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #5b5f71;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  color: #242942;
}

h1 {
  text-transform: uppercase;
  font-size: 2.25em;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.1;
}

h1 span {
  display: inline-block;
}

p {
  line-height: 1.5;
}

button {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  background: #ff5c5c;
  color: white;
  border: none;
  padding: 12px 24px;
  letter-spacing: 2px;
  border-radius: 6px;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.wrapper {
  margin: 0 32px;
  position: relative;
  padding-bottom: 90px;
}

.wrapper::before {
  position: absolute;
  content: "";
  width: 50vw;
  height: 112vw;
  max-height: 600px;
  background: #eef3f6;
  z-index: -100;
  border-bottom-left-radius: 60px;
  top: 0;
  right: -32px;
}

.inner-wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.new-line {
  display: block;
}

.hide {
  display: none;
}

header {
  padding: 40px 0;
}

header .inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 24px;
}

.logo img {
  max-width: 100%;
}

nav {
  position: absolute;
  top: 100px;
  width: calc(100%);
  background: white;
  border-radius: 4px;
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  padding: 0 15px;
  text-align: center;
  margin: 0;
  padding: 22px;
}

nav ul li {
  padding-bottom: 22px;
}

nav ul li a {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  color: #242942;
  font-size: 1em;
  letter-spacing: 1.5px;
  text-decoration: none;
}

.login {
  border-top: 1px solid #e2e2e2;
  padding-top: 24px;
  padding-bottom: 5px;
}

.login a {
  color: #a0a1ac;
}

nav a:hover {
  text-decoration: underline;
}

#hero {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.imagery {
  background: url("../../images/illustration-devices.svg") no-repeat;
  background-size: cover;
  height: 64vw;
  width: calc(100% + 32px + 20px);
  margin-bottom: 20px;
  margin-left: -20px;
}

.subject-line {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 5px;
  font-size: 0.85em;
  color: #a0a1ac;
}

.tag {
  background: #242942;
  color: white;
  border-radius: 100px;
  padding: 3px 10px 4px 10px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-right: 10px;
}

.cta p {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.8em;
  letter-spacing: 2px;
  color: #a0a1ac;
  margin-left: 20px;
}

@media screen and (min-width: 700px) {
  .hide {
    display: inherit;
  }

  .wrapper::before {
    width: 50vw;
    height: 430px;
  }

  .logo {
    width: 32px;
  }

  .nav-toggle {
    display: none;
  }

  nav {
    position: relative;
    top: 0;
    width: auto;
    background: none;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  nav ul {
    display: flex;
    padding: 0;
    text-align: right;
    padding: 0;
  }

  nav ul li {
    padding-bottom: 0;
    margin-left: 42px;
  }

  nav ul li a {
    font-size: 0.8em;
  }

  .login {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .login::before {
    content: "•";
    margin-right: 40px;
    font-size: 1em;
    color: #a0a1ac;
  }

  #hero {
    grid-template-columns: 1fr 1fr;
    max-width: 1110px;
    margin: 0 auto;
  }

  .imagery {
    height: 50vw;
    max-height: 400px;
    margin-bottom: 0;
    background-position: 35px;
    width: calc(100% + 52px);
  }

  .text {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
@media screen and (min-width: 900px) {
  header {
    padding: 60px 0;
  }

  main {
    margin-top: 55px;
  }

  h1 {
    font-size: 3.4em;
  }

  .cta {
    margin-top: 65px;
  }

  .cta p {
    font-size: 0.9em;
    letter-spacing: 4px;
  }

  button {
    font-size: 0.85em;
    padding: 16px 30px;
  }
}
@media screen and (min-width: 1170px) {
  .imagery {
    width: calc(100% + 52px + (100vw - 1170px / 2));
    background-size: contain;
  }
}

/*# sourceMappingURL=styles.css.map */
