// STYLEGUIDE
$col-primary: hsl(0, 100%, 68%)
$col-neutral-light: hsl(207, 33%, 95%)
$col-neutral-medium: hsl(231, 7%, 65%)
$col-neutral-dark: hsl(230, 11%, 40%)
$col-neutral-xdark: hsl(230, 29%, 20%)

$font-base-size: 18px

$font-stack-headings: 'Barlow Condensed', sans-serif
$font-weight-headings-regular: 400
$font-weight-headings-bold: 700
$font-stack-body: 'Barlow', sans-serif
$font-weight-body: 400

$pg-margin: 32px


/*
 * BASE LAYOUT
 */
*
  box-sizing: border-box
  // transition: all 0.2s ease-in-out
body
  margin: 0
  height: 100%
  width: 100%
  font-family: $font-stack-body
  font-weight: $font-weight-body
  font-size: $font-base-size
  color: $col-neutral-dark
h1, h2, h3, h4, h5, h6
  font-family: $font-stack-headings
  font-weight: $font-weight-headings-bold
  color: $col-neutral-xdark
button
  text-transform: uppercase
  font-family: $font-stack-headings
  font-weight: $font-weight-headings-bold

.wrapper
  margin: 0 $pg-margin
  position: relative
.wrapper::before
  position: absolute
  content: ""
  width: 50vw
  height: 112vw
  background: $col-neutral-light
  z-index: -100
  border-bottom-left-radius: 60px
  top: 0
  right: -$pg-margin
.inner-wrap
  max-width: 1110px
  margin: 0 auto
.hide
  display: none

// HEADER
header
  padding: 40px 0
header .inner-wrap
  display: flex
  justify-content: space-between
  align-items: center
.logo
  width: 24px
nav
  position: absolute
  top: 100px
  width: calc(100% - 64px)
  background: white
  border-radius: 4px
  -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.2)
  -webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.2)
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2)
nav ul
  list-style-type: none
  padding: 0 15px
  text-align: center
  margin: 0
  padding: 22px
nav ul li
  padding-bottom: 22px
nav ul li a
  text-transform: uppercase
  font-family: $font-stack-headings
  font-weight: $font-weight-headings-bold
  color: $col-neutral-xdark
  font-size: 1em
  letter-spacing: 1.5px
  text-decoration: none
.login
  border-top: 1px solid #e2e2e2
  padding-top: 24px
  padding-bottom: 5px
.login a
  color: $col-neutral-medium
nav a:hover
  text-decoration: underline

// HERO
#hero
  margin-top: 10px
  display: grid
.imagery
  height: 64vw
  width: calc(100% + 32px + 20px)
  overflow: hidden
  margin-left: -20px
.imagery img
  height: 100%








@media screen and (min-width: 700px)
  .hide
    display: inherit
  // HEADER
  .logo
    width: auto
  .nav-toggle
    display: none
  nav
    position: relative
    top: 0
    width: auto
    background: none
    border-radius: 0
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none
  nav ul
    display: flex
    padding: 0
    text-align: right
    padding: 0
  nav ul li
    padding-bottom: 0
    margin-left: 42px
  nav ul li a
    font-size: 0.8em
  .login
    border-top: none
    padding-top: 0
    padding-bottom: 0
  .login::before
    content: "•"
    margin-right: 40px
    font-size: 1em
    color: $col-neutral-medium
